@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap");

:root {
  --bs-breadcrumb-divider: "â¯" !important;
  --toastify-color-success: #0009dc;
  --toastify-color-error: #dc3545;
}
* {
  box-sizing: border-box;
  font-family: Inter, sans-serif !important;
}
@media (max-width: 520px) {
  .Toastify__toast {
    margin: 0.3rem;
    border-radius: 0.5rem;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
  /* scrollbar-color: rgba(36, 47, 62, 0.3) lightgrey; */
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
}
::-webkit-scrollbar-track-piece {
  /* background-color: yellow; */
}
::-webkit-scrollbar-thumb:vertical {
  /* background-color: rgba(36, 47, 62, 0.8); */
}
::-webkit-scrollbar-thumb:horizontal {
  /* background-color: rgba(36, 47, 62, 0.8); */
}
::-webkit-scrollbar-track-piece {
  /* background-color: #e8e8e8; */
}
img {
  display: inline-block;
  max-width: 100%;
  object-fit: cover;
  max-height: 100%;
}
a {
  color: inherit;
  text-decoration: none !important;
}
a.active {
  color: #0009dc !important;
}
.no-break {
  word-break: keep-all;
  white-space: nowrap;
}
.pointer:hover {
  cursor: pointer;
}
.pointer-2:hover {
  cursor: pointer;
  opacity: 0.7;
}
.z-index-0 {
  z-index: -1;
}
.z-index-1 {
  z-index: 1;
}
.z-index-2 {
  z-index: 2;
}
.z-index-3 {
  z-index: 3;
}
/* switch */
.switch-sm {
  --switch-size: 2.5;
}
.switch-md {
  --switch-size: 3.5;
}
.switch-lg {
  --switch-size: 4;
}
.switch-xl {
  --switch-size: 5;
}
.switch-button {
  width: calc(var(--switch-size) * 10px);
  height: calc(var(--switch-size) * 5px);
}
.w-100 {
  width: 100%;
}
.switch-button .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  box-shadow: none;
  transition: background-color 0.4s, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
.switch-button .slider:before {
  position: absolute;
  content: "";
  height: calc(var(--switch-size) * 7px);
  width: calc(var(--switch-size) * 7px);
  left: calc(var(--switch-size) * -1px);
  border-radius: 50%;
  bottom: calc(var(--switch-size) * -1px);
  border: 1px solid #ccc;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.switch-button input:checked + .slider {
  background-color: #0d6efd;
}
.switch-button input:checked + .slider:before {
  -webkit-transform: translateX(calc(var(--switch-size) * 5px));
  -ms-transform: translateX(calc(var(--switch-size) * 5px));
  transform: translateX(calc(var(--switch-size) * 5px));
}
.one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  word-break: break-all;
}
/* switch */
/* hambugger */
.hambugger {
  display: block;
  position: relative;
  width: 2rem;
}
.hambugger span {
  display: block;
  width: 100%;
  height: 0.1rem;
  background: black;
}
.hambugger .top-line {
  margin-top: 0;
}
.hambugger .middle-line {
  margin-top: 0.7rem;
}
.hambugger .bottom-line {
  margin-top: 0.7rem;
  width: 75%;
}
.drop-list {
  max-height: 0rem;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
#hambugger-checkbox:checked ~ .drop-list {
  max-height: 20rem;
}
/* hambugger */
/* overflow-slider */
.overflow-slider {
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none !important;
  transition: all 100ms 1s ease;
  -ms-overflow-style: none !important;
}

.overflow-slider::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}
/* overflow-slider */
/* details */
details > summary {
  list-style: none;
}
details > summary {
  display: block;
}
details > summary::-webkit-details-marker {
  display: none;
}
details > summary::marker {
  display: none;
}
/* details */
/* page transition */
.transition {
  position: relative;
  transition: all 0.2s;
  animation: transition 0.2s ease-out;
}
@keyframes transition {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  30% {
    opacity: 0.3;
    transform: scale(0.3);
  }
}
/* page transition */
/* sizing */
.font-1-2 {
  font-size: 1.2rem;
}
.font-1-5 {
  font-size: 1.5rem;
}
.font-2 {
  font-size: 2rem;
}
.font-3 {
  font-size: 3rem;
}
.font-4 {
  font-size: 4rem;
}
.min-h-4 {
  min-height: 3.5rem;
}
.min-vh-75 {
  min-height: 75vh;
}
.min-vh-50 {
  min-height: 50vh;
}
.max-h-2 {
  max-height: 2rem;
}
.max-h-3 {
  max-height: 3rem;
}
.max-w-2 {
  max-width: 2rem;
}
.max-w-3 {
  max-width: 3rem;
}
.max-w-4 {
  max-width: 4rem;
}
.max-w-5 {
  max-width: 5rem;
}
.max-w-8 {
  max-width: 8rem;
}
.max-w-15 {
  max-width: 15rem;
}
.min-w-3 {
  min-width: 3rem;
}
.min-w-5 {
  min-width: 5rem;
}
.min-w-8 {
  min-width: 8rem;
}
.min-w-12 {
  min-width: 12rem;
}
.min-w-15 {
  min-width: 15rem;
}
/* sizing */
@media (min-width: 768px) {
  .font-md-1-2 {
    font-size: 1.2rem;
  }
  .font-md-1-5 {
    font-size: 1.5rem;
  }
  .font-md-2 {
    font-size: 2rem;
  }
  .font-md-3 {
    font-size: 3rem;
  }
  .font-md-4 {
    font-size: 4rem;
  }
  .w-md-12-5 {
    width: 12.5% !important;
  }
  .w-md-15 {
    width: 15% !important;
  }
  .w-md-20 {
    width: 20% !important;
  }
  .w-md-20 {
    width: 20% !important;
  }
  .w-md-25 {
    width: 25% !important;
  }
  .w-md-30 {
    width: 30% !important;
  }
  .w-md-35 {
    width: 35% !important;
  }
  .w-md-40 {
    width: 40% !important;
  }
  .w-md-50 {
    width: 50% !important;
  }
  .w-md-60 {
    width: 60% !important;
  }
  .w-md-65 {
    width: 65% !important;
  }
  .w-md-70 {
    width: 70% !important;
  }
  .w-md-75 {
    width: 75% !important;
  }
  .w-md-80 {
    width: 80% !important;
  }
  .w-md-100 {
    width: 100% !important;
  }
  .w-md-auto {
    width: auto !important;
  }
  .drop-list {
    max-height: 20rem !important;
    transition: none !important;
  }
  .position-md-absolute {
    position: absolute !important;
  }
  .text-center-md {
    text-align: center !important;
  }
  .text-start-md {
    text-align: start !important;
  }
}
@media (max-width: 768px) {
  #hambugger-checkbox:checked ~ .drop-list span.drop {
    position: absolute;
  }
}
@media (min-width: 992px) {
  .w-lg-25 {
    width: 25% !important;
  }
  .w-lg-35 {
    width: 35% !important;
  }
  .w-lg-50 {
    width: 50% !important;
  }
  .w-lg-80 {
    width: 80% !important;
  }
}
